In [1]:
import pandas as pd
import numpy as np

In [91]:
# data from dn.no and 
# http://fishpool.eu/price-information/spot-prices/weekly-details/

df_mowi_raw = pd.read_excel('mowi.xlsx', skiprows=[0,1])
df_salm_raw = pd.read_excel('SalMar.xlsx', skiprows=[0,1])
df_salm_index_raw = pd.read_excel('Weekly_details.xls', skiprows=[0])

In [92]:
df_mowi_raw.index = pd.to_datetime(df_mowi_raw['Dato'], infer_datetime_format=True)
df_mowi = df_mowi_raw['Siste'].resample('W-TUE').last().dropna()
df_salm_raw.index = pd.to_datetime(df_salm_raw['Dato'], infer_datetime_format=True)
df_salm = df_salm_raw['Siste'].resample('W-TUE').last().dropna()

# ref: Nasdaq Salmon Index is published every Tuesday.

In [96]:
# remember to check to align index
maxLen = len(df_salm.index) 
print(maxLen)

262

In [97]:
maxLen = len(df_salm.index)
df_salm_index = df_salm_index_raw[-maxLen:-1]
df_salm_index.index = df_salm.index[-maxLen:-1]

In [98]:
df = pd.concat([df_mowi[:-1], df_salm[:-1]], axis=1, join='outer').dropna()
df = pd.concat([df, df_salm_index['FPI NOK']], axis=1, join='outer').dropna()
df.columns = ['df_mowi', 'df_salm', 'salmPrice']

In [99]:
df.to_csv('dataSalm.csv')

In [100]:
df_salm.index[-maxLen:-1]

DatetimeIndex(['2015-04-21', '2015-04-28', '2015-05-05', '2015-05-12',
               '2015-05-19', '2015-05-26', '2015-06-02', '2015-06-09',
               '2015-06-16', '2015-06-23',
               ...
               '2020-02-11', '2020-02-18', '2020-02-25', '2020-03-03',
               '2020-03-10', '2020-03-17', '2020-03-24', '2020-03-31',
               '2020-04-07', '2020-04-14'],
              dtype='datetime64[ns]', name='Dato', length=261, freq='W-TUE')

In [103]:
df.tail()

            df_mowi  df_salm  salmPrice
Dato
2020-03-17   176.00    382.4      67.82
2020-03-24   178.50    391.0      67.96
2020-03-31   158.65    347.4      59.68
2020-04-07   175.60    392.7      56.14
2020-04-14   180.55    406.5      53.79